table, mat-paginator {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

mat-icon {
  font-size: 18px;
}

.table-buttons__field {
  min-width: 200px;
}


.example-header {
  margin-left: 1%
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.profile-user-img {
  height: 100px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e1e0e0;
}

.tblHead {
  background-color: #87cce3;
}

th.mat-header-cell {
  font-size: 14px !important;
  font-weight: bold !important;
  color: black;
}
