  <div class="content-header">
  </div>
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{dashboardData.ActiveTecherCount}}</h3>
              <p>Active Teacher</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="javascript:void(0)" class="small-box-footer"></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{dashboardData.DeleteTecherCount}}</h3>
              <p>DeActive Teacher</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-minus"></i>
            </div>
            <a href="javascript:void(0)" class="small-box-footer"></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{dashboardData.ActiveStudentCount}}</h3>
              <p>Active Student</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="javascript:void(0)" class="small-box-footer"></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{dashboardData.DeleteStudentCount}}</h3>
              <p>DeActive Student</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-minus"></i>
            </div>
            <a href="javascript:void(0)" class="small-box-footer"></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </div>
  </section>
